{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Philadelphie la main tendue</h1>
  <p class="lead">Ce site vous imforme sur le fonctionnement de notre assemblée.</p>
  <hr class="my-4">
  <p>Pour commencer rendez vous sur la page d'inscription pour utiliser l'application.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
{% endblock %}